<html>
<head>
	<title>Post</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>
<div>
	<!-- Header bar. -->
	<div class="fixed_header">
		<p style = "font-size:25px;text-align:center;">Question - {{class}}</p>
	</div>

	<!-- Back button. -->
	<div style="position:fixed; top:0">
		<script>
			function goBack() {
  				window.history.back();
			}
		</script>
		<button onclick="goBack()" class="back-button"><</button>
	</div>

	<div style="margin:100px auto;">
		<!-- Question post. -->
		<div style="margin-top:100px; border-bottom:1px solid #000000;">
		<div class="word-content">
			<h2>{{question}}</h2>
			<p>
				<small>Poster: {{icon}}{{op}}</small><br>
				<small>Reading: {{reading}}</small>
			</p>
			<p style = "font-size:25px;text-align:left;margin-top:25px;">
				{{passage}}
			</p>
			<button id="like" class="like_button">
				<span class="material-icons">thumb_up_off_alt</span>
			</button>
		</div></div>

		<!-- Comment form. -->
		<div style="border-bottom:1px solid #000000;">
		<div style="width:80%; margin:0 auto; text-align:center;">
			<form id="commentForm" role="form" method="GET" action="/commenting">
			    <div style="margin-top:20px;">
			      <textarea id="comentText" name="commentText" style="height:50px; width:100%;" placeholder="Leave a comment" required></textarea>
			    </div>
			    <div style="margin-top:20px; width:100%;">
			      <span>
			      	<input type="checkbox" id="showname" name="showname" value="anonymous">
			      	<label for="showname">comment anonymously?</label>
			      </span>
			    </div>
			    <input type ="hidden" name="questionID" value="{{questionID}}" />
			    <input type="submit" id="submitBtn" class="new-question-button" style="margin-top:20px;" value="comment"></input>
			</form>
		</div></div>

		<!-- Comment posts. -->
		{{#each comments}}{{#if comment}}
		<div style="margin-top:100px; border-bottom:1px solid #000000;">
		<div class="word-content">
			<p><b>{{icon}}{{user}}:</b></p>
			<p style = "font-size:25px;text-align:left;margin-top:25px;">
				{{comment}}
			</p>
			<button id="like" class="like_button">
				<span class="material-icons"> thumb_up_off_alt </span>
			</button>
		</div></div>{{/if}}{{/each}}
	</div>
</div>

<script>
    $("#like").toggle (
    	function() {
			console.log("like button clicked - LIKE");  // debug msg
    		$(this).closest("button").find("span").text ("<span class='material-icons'> thumb_up </span>");
    	},
   		function() {
			console.log("like button clicked - UNDO");  // debug msg
   			$(this).closest("button").find("span").text ("<span class='material-icons'> thumb_up_off_alt </span>");
    	}
   	)
</script>

</body>
</html>
